<%- include("../header.ejs") %>
<br><br><br>
<h1 class="text-center mt-5">Course View</h1>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Phone</th>
            <th>dob</th>
            <th>address</th>
            <th>gender</th>
            <th>Course</th>
        </tr>
        <tr>
            <td><%= d.id %></td>
            <td><%= d.name %></td>
            <td><%= d.email %></td>
            <td><%= d.course %></td>
            <td><%= d.phone %></td>
            <td><%= d.dob %></td>
            <td><%= d.address %></td>
            <td><%= d.gender %></td>
            <td><%= d.course %></td>
           
        </tr>
    
           

      
        

    </table>

</div><!--container end-->

<center>
    <a href="/courseDisplay" class="btn btn-info">Back</a>
</center>



<%- include("../footer.ejs") %>